In [25]:
break_value = 5     #Creating a variable name break will result in a syntax error because break is a reserved keyword. 
break_value        #so i named break as break_value1

5

In [23]:

birth_year=1996
current_year=2024
age = current_year - birth_year
age

28

In [26]:
first_name="manisha"
middle_name="m"
last_name="p"
full_name1=first_name+middle_name+last_name
full_name2=first_name + " " + middle_name + " " + last_name
print("full_name is:", full_name1)        # Print the result we use print statement otherwise only last statement will excute
print("full_name with spaces is:", full_name2)

full_name is: manishamp
full_name with spaces is: manisha m p

In [ ]:
_nation: Valid   #Variable names can start with an underscore.
1record: Invalid #Variable names cannot start with a number.
record1: Valid  #Variable names can contain numbers as long as they do not start with them.
record._one: Valid  #Variable names can include underscores and dots within them.
record-one: Invalid #Hyphens are not allowed in variable names.
record ^one: Invalid #Variable names cannot contain spaces or special characters like ^.
continue: Invalid  #continue is a reserved keyword in Python and cannot be used as a variable name.

Valid variable names: _nation, record1, record._one
Invalid variable names: 1record, record-one, record ^one, continue

#to check keywords we use  help('keywords')

In [31]:
field_length = 92  # in meters
field_width = 48.8  # in meters
area = field_length * field_width
print("The total area of the football field is:", area, "square meters")

The total area of the football field is: 4489.599999999999 square meters

In [35]:
number_of_packets = 9
cost_per_packet = 1.49
total_amount = cost_per_packet * number_of_packets   
amount_given = 20
change_amount = amount_given - total_amount
print("the total amount shopkeeper will give you back:", change_amount, "Rs/-")

the total amount shopkeeper will give you back: 6.59 Rs/-

In [45]:
square_side_length = 5.5  # in feet
cost_per_square_foot = 500  # in rs
area = square_side_length ** 2   #as area of square is side square   # Using the power operator to find the area of a square     
total_cost = area * cost_per_square_foot  
print("The total cost to replace all tiles is:", total_cost, "Rs/-")

The total cost to replace all tiles is: 15125.0 Rs/-

In [46]:
number = 17
binary_representation = bin(number)
print(binary_representation)                           #bin(17)

0b10001

In [47]:
number = 17
binary_representation = "{0:b}".format(number)   #You can use string formatting in Python to represent a number in binary format
print(binary_representation)                        #Here, "{0:b}" is a format specifier that tells Python to represent the number in binary format.

10001

In [99]:
age = int(input("Please enter your age: "))   
if  age >= 65:
        print("ticket_price=10.0") 
elif age < 12:
        print("ticket_price=8.00")   
else:
        print("ticket_price=12.50")

ticket_price=12.50

In [97]:
total_amount = int(input("Please enter the total amount of your shopping cart: $"))
if total_amount >= 50:
        print("Free shipping")
else:
        print("Shipping charges apply")

Shipping charges apply

In [85]:
year = int(input("Please enter a year: "))
if year%4==0 and year%100!=0 or year%400==0 :
     print("it is a leap year")
else :
        print("not a leap year")

not a leap year

In [128]:
temperature = float(input("enter the temperature value:"))
unit=(input("Please specify the unit value C or F"))

converted_temp = None

if unit == 'C':
    converted_temp = (temperature * 9/5) + 32
    print(f"{temperature} degree Celsius is {converted_temp} to Fahrenhei ")   # used{} to treat as a variable
elif unit =='F':
    converted_temp = (temperature - 32) * 5/9
    print(f"{temperature} degree Fahrenhei is {converted_temp} to Celsius")

else :

    print("Temperature in invalid")

84.0 degree Fahrenhei is 28.88888888888889 to Celsius